body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


.seccion__titulo{
    text-align: center;
    
}

p{
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
}

.seccion__lista{
    margin-left: 100px;
    font-size: 1.2rem;
}


img{
    width: 400px;
    height: 300px;

}

.seccion__mascota{

    display: flex;
    padding-top: 30px;
    margin-left: 100px;
    padding-bottom: 30px;
}

a{
    font-size: 2rem;
}

.seccion__link{
    margin-top: 100px;
    margin-left: 80px;
}

.navbar{

    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    list-style: none;
    padding-top: 30px;
    padding-right: 20px;
}

.navbar__link{
    font-size: 25px;
}

/*Estilos de perfiles de mascotas*/
.navbar__perfil{
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    list-style: none;

}

.navbar__perfil > ul{
    list-style: none;
    margin-right: 30px;
}

.navbar__perfil > ul > li{
    display: inline;
    padding-left: 10px;
}

.navbar__perfil > ul > li > a{
    font-size: 1.5rem;
}

.perfil{
    width: 80%;
    margin: 10px auto;
    display: flex;
    align-items: center;
}


.perfil__info > ul{
    list-style-type: none;
    font-size: 1.2rem;
}

.perfil__info > ul > li{
    padding-bottom: 6px;
}

.perfil__foto{
    border-radius: 10px;
}



